* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0; }

main {
  background: #fff; }

.blocks {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .blocks .block-g {
    display: flex; }
    .blocks .block-g .block-text {
      display: flex;
      flex-direction: column; }
      .blocks .block-g .block-text span {
        padding-bottom: 30px;
        padding-left: 60px;
        font-style: normal;
        font-size: 14px;
        line-height: 174.5%;
        letter-spacing: -0.065em;
        color: #000000; }

.block-y {
  display: flex; }
  .block-y .block-text {
    display: flex;
    flex-direction: column; }
    .block-y .block-text span {
      padding-bottom: 30px;
      padding-left: 60px;
      font-style: normal;
      font-size: 14px;
      line-height: 174.5%;
      letter-spacing: -0.065em;
      color: #000000; }

.spacing-word {
  padding: 80px 0;
  width: 600px; }
  .spacing-word span {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 163.5%;
    text-align: center;
    letter-spacing: 3.085em; }

.persons {
  position: relative;
  padding-left: 250px; }
  .persons .names {
    position: absolute;
    left: 180px;
    display: flex; }
    .persons .names .yudaev {
      padding-right: 100px; }
    .persons .names span {
      font-style: normal;
      font-weight: bold;
      font-size: 110px;
      line-height: 120%;
      /* identical to box height, or 173px */
      letter-spacing: -0.06em;
      color: #E5E5E5; }
  .persons .person-imgs {
    position: absolute;
    display: flex;
    top: -190px;
    animation-name: refresh;
    animation-duration: 6s;
    animation-timing-function: linear; }
    .persons .person-imgs .person-img2 {
      position: absolute;
      left: 450px;
      bottom: 0; }

.all-blocks {
  display: flex;
  max-width: 1980px;
  padding: 250px  0;
  padding-right: 50px;
  padding-left: 150px;
  padding-bottom: 0; }

@keyframes refresh {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.1; }
  50% {
    opacity: 0.2; }
  60% {
    opacity: 0.4; }
  75% {
    opacity: 0.6; }
  90% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }
